.nav_list {
  border-radius: 10px;
}

.nav_link {
  position: relative;
  --transition: 150ms ease-in-out;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 10px;
  transition: background-color var(--transition), color var(--transition);
}

.nav_link::after {
  @apply border-b-[1px] border-primary;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform var(--transition);
  z-index: -1;
}
.nav_link::before {
  @apply bg-primary;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform var(--transition);
  z-index: -1;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.nav_link[aria-current="page"]::after {
  transform: scaleX(1);
}

.nav_link[aria-current="page"]::before {
  transform: scaleX(1);
}

.nav_link[aria-current="page"] {
  @apply text-neutral-content;
}

