@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

body {
  --gradient: linear-gradient(
    25deg, #0A1E1D, #060D0E 35%
  );
  position: relative;
  margin: 0;
  padding: 0;
	min-height: 100dvh;
  font-family: 'K2D', sans-serif;
  background-image: var(--gradient);
}

@media (max-width: 768px) {
  body {
    background-position: 45% top;
  }
}

#root {
  min-height: 100vh;
}
