@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
	min-height: 100dvh;
  font-family: 'K2D', sans-serif;
  background-image: url('/assets/images/background-soldier-portrait.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: 40% 0; */
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

#root {
  min-height: 100vh;
}
